body {
  background-color: #dadada;
}

h1 {
  font-family: "Lucida Console", "Courier New", monospace;
  color: navy;
}

h2 {
  font-family: "Lucida Console", "Courier New", monospace;
  color: navy;
  border-style: ridge;
  border-width: 4px;
  text-align: center;
}

p {
  font-family: "SFMono-Regular", Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  text-align: center;
  font-size: 12px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  background-color: LightBlue;
}
 
.container div {
  background-color: #f1f1f1;
  width: 200px;
  margin: 10px;
  padding: 10px;
  text-align: center;  
  font-size: 12px;
  width: 50%;
}


.img-gallery-container div {
  background-color: #f1f1f1;
}
.img-gallery-container img {
  width: 100%;
  height: 100%;
}