body {
  background-color: #dadada;
}

h1 {
  font-family: "Lucida Console", "Courier New", monospace;
  color: navy;
}

h2 {
  font-family: "Lucida Console", "Courier New", monospace;
  color: navy;
  border-width: 4px;
  border-style: ridge;
}

p {
  font-family: "SFMono-Regular", Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}
